/* layout */
.section {
    padding: 120px 0;
    text-align: center;
    background-color: rgb(228, 179, 179);
}
.container {
    width: 1160px;
    margin: 0 auto;
    background-color: rgb(234, 207, 207);
}

body {
    font-family: 'NexonLv1Gothic';
}
/* Header */
.header_wrap {
    width: 100%;
    height: 70px;
    font-family: 'NexonLv1Gothic';
    font-weight: 400;
}

.header_contents {
    width: 100%;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    width: 200px;
    height: 100%;
    
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
.header_logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_logo em {
    width: 35px; height: 35px;
    display: inline-block;
    margin-right: 5px;
}
.header_logo em img {
    width: 35px; height: 35px;
}

.header_menu ul li {
    display: inline-block;
}
.header_menu ul li a {
    padding: 13px 30px;
    margin: 0 5px;
    transition: background-color 0.3s;
    border-radius: 5px;
}
.header_menu ul li a:hover {
    background-color: #F5F5F5;
}

.header_member {
    width: 20%;
    text-align: right;
}
.header_member a {
    display: inline-block;
    font-size: 16px;
    border: 1px solid #000;
    padding: 10px 30px;
    border-radius: 50px;
    transition: all 0.3s;
}
.header_member a:last-child {margin-left: 20px;}
.header_member a:hover {
    color: #fff;
    background-color: #b7b7b7;
}

/* Slide */
.slide_wrap {
    width: 100%;
    height: 500px;
    background-color: #000;
}
.slide_contents {
    position: relative;
}
.slide_img {
    width: 100%;
    height: 580px;
    background-image: url(../img/slide_img_01.jpg);
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
}
.slide_img .slide_desc {
    position: absolute;
    width: 1160px;
    height: 360px;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.slide_desc span {
    width: 120px; height: 30px;
    font-size: 16px;
    background-color: #D9D9D9;
    border-radius: 30px;
    text-transform: uppercase; 
    margin-bottom: 10px;
}
.slide_desc .slide_cont {
    width: 100%;
    height: 224px;
    background-color: #c1c1c176;
    border-radius: 20px;
    padding: 13px 0 0;
}
.slide_desc .slide_cont h3 {
    height: 127px;
    font-size: 110px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase; 
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
.slide_desc .slide_cont p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.35;
    text-transform: uppercase; 
    text-align: center;
    color: #fff;
    padding: 0 392px 20px;
}
.slide_desc .slide_btn {
    position: absolute;
    right: 0; bottom: 0;
}
.slide_desc .slide_btn a {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase; 
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 50px;
}
.slide_desc .slide_btn a.black {
    background: #000;
    color: #fff;
}

.slide_arrow a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 100px;
    background-image: url(../img/arrow_white.png);
}
.slide_arrow a.left {
    left: 20px;
}
.slide_arrow a.right {
    right: 20px;
    background-position: -50px 0;
}

.slide_nav {
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
}
.slide_nav a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/slide_nav.png);
}
.slide_nav a.dot {
    background-position: -20px 0;
}
.slide_nav a.active {
    background-position: 0px 0;
}
.slide_nav a.play {
    background-position: -40px 0;
}
.slide_nav a.pause {
    background-position: -60px 0;
}

/* Image */
.image_wrap {
    width: 100%;
    height: 773px;
    background: #dbdbdb;
}
.container > h2 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.container > p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 70px;
    color: #666;
}
.image_contents {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: space-between;
}
.image_cont {
    width: 49%;
    height: 370px;
    background-color: #999;
    padding: 203px 30px 30px 30px;
}
.image_1 {
    background: url(../img/banner_img_01.jpg) no-repeat center / cover;
}
.image_2 {
    background: url(../img/banner_img_02.jpg) no-repeat center / cover;
}
.image {
    text-align: left;
}
.image_tit {
    height: 37px;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}
.image_desc {
    height: 22px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 20px;   
    padding-right: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.image_btn {
    height: 38px;
    font-size: 16px;
    font-weight: 300;
    align-items: center;
    color: #fff;
    background-color: #ADA5A6;
    display: inline-block;
    padding: 8px 20px;
}
.image_tit.white, .image_desc.white {
    color: #fff;
}
.image_btn.orange {
    background-color: #BB9350;
}

/* ImgText */
.imgText_wrap {
    width: 100%;
    height: 740px;
}
.imgText_contents {
    display: flex;
    justify-content: space-between;
}
.imgText_contents > div {
    width: 32%;
    height: 500px;
}


.imgT_txt_tit {
    font-size: 50px;
    font-weight: 300;
    line-height: 1.4;
    text-align: left;
    word-break: keep-all;
    margin-bottom: 20px;
}
.imgT_txt_desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
    color: #666666;
    word-break: keep-all;
    margin-bottom: 20px;
}
.imgT_txt_list li {
    position: relative;
    padding-left: 20px;
    text-align: left;
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
}
.imgT_txt_list li::before {
    content: '';
    width: 5px;
    height: 5px;
    background: #666;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 16px;
}
.imgText_img {
    border-radius: 10px;
}
.imgText_img.imgText_1 {
    background: url(../img/eco_01.jpg) no-repeat center / cover;
}
.imgText_img.imgText_2 {
    background: url(../img/eco_02.jpg) no-repeat center / cover;
}