/* layout */
.section {
    padding: 120px 0;
    text-align: center;
}
.container {
    width: 1160px;
    margin: 0 auto;
}

body {
    font-family: 'NexonLv1Gothic';
}
/* Header */
.header_wrap {
    width: 100%;
    height: 70px;
    font-family: 'NexonLv1Gothic';
    font-weight: 400;
}

.header_contents {
    width: 100%;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    width: 200px;
    height: 100%;
    
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
.header_logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_logo em {
    width: 35px; height: 35px;
    display: inline-block;
    margin-right: 5px;
}
.header_logo em img {
    width: 35px; height: 35px;
}

.header_menu ul li {
    display: inline-block;
}
.header_menu ul li a {
    padding: 13px 30px;
    margin: 0 5px;
    transition: background-color 0.3s;
    border-radius: 5px;
}
.header_menu ul li a:hover {
    background-color: #F5F5F5;
}

.header_member {
    width: 20%;
    text-align: right;
}
.header_member a {
    display: inline-block;
    font-size: 16px;
    border: 1px solid #000;
    padding: 10px 30px;
    border-radius: 50px;
    transition: all 0.3s;
}
.header_member a:last-child {margin-left: 20px;}
.header_member a:hover {
    color: #fff;
    background-color: #b7b7b7;
}

/* Slide */
.slide_wrap {
    width: 100%;
}
.slide_contents {
    position: relative;
}
.slide_img {
    width: 100%;
    height: 580px;
    background-image: url(../img/slide_img_01.jpg);
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
}
.slide_img .slide_desc {
    position: absolute;
    width: 1160px;
    height: 360px;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.slide_desc span {
    width: 120px; height: 30px;
    font-size: 16px;
    background-color: #D9D9D9;
    border-radius: 30px;
    text-transform: uppercase; 
    margin-bottom: 10px;
}
.slide_desc .slide_cont {
    width: 100%;
    height: 224px;
    background-color: #c1c1c176;
    border-radius: 20px;
    padding: 13px 0 0;
}
.slide_desc .slide_cont h3 {
    height: 127px;
    font-size: 110px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase; 
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
.slide_desc .slide_cont p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.35;
    text-transform: uppercase; 
    text-align: center;
    color: #fff;
    padding: 0 392px 20px;
}
.slide_desc .slide_btn {
    position: absolute;
    right: 0; bottom: 0;
}
.slide_desc .slide_btn a {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase; 
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 50px;
}
.slide_desc .slide_btn a.black {
    background: #000;
    color: #fff;
}

.slide_arrow a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 100px;
    background-image: url(../img/arrow_white.png);
}
.slide_arrow a.left {
    left: 20px;
}
.slide_arrow a.right {
    right: 20px;
    background-position: -50px 0;
}

.slide_nav {
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
}
.slide_nav a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/slide_nav.png);
}
.slide_nav a.dot {
    background-position: -20px 0;
}
.slide_nav a.active {
    background-position: 0px 0;
}
.slide_nav a.play {
    background-position: -40px 0;
}
.slide_nav a.pause {
    background-position: -60px 0;
}

/* Image */
.image_wrap {
    width: 100%;
}
.container > h2 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.container > p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 70px;
    color: #666;
}
.image_contents {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: space-between;
}
.image_cont {
    width: 49%;
    height: 370px;
    padding: 203px 30px 30px 30px;
}
.image_1 {
    background: url(../img/banner_img_01.jpg) no-repeat center / cover;
}
.image_2 {
    background: url(../img/banner_img_02.jpg) no-repeat center / cover;
}
.image {
    text-align: left;
}
.image_tit {
    height: 37px;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}
.image_desc {
    height: 22px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 20px;   
    padding-right: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.image_btn {
    height: 38px;
    font-size: 16px;
    font-weight: 300;
    align-items: center;
    color: #fff;
    background-color: #ADA5A6;
    display: inline-block;
    padding: 8px 20px;
}
.image_tit.white, .image_desc.white {
    color: #fff;
}
.image_btn.orange {
    background-color: #BB9350;
}

/* ImgText */
.imgText_wrap {
    width: 100%;
    background-color: #EEEFE6;
}
.imgText_contents {
    display: flex;
    justify-content: space-between;
}
.imgText_contents > div {
    width: 32%;
    height: 500px;
}

.imgT_txt_tit {
    font-size: 50px;
    font-weight: 300;
    line-height: 1.4;
    text-align: left;
    word-break: keep-all;
    margin-bottom: 20px;
}
.imgT_txt_desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
    color: #666666;
    word-break: keep-all;
    margin-bottom: 20px;
}
.imgT_txt_list li {
    position: relative;
    padding-left: 20px;
    text-align: left;
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
}
.imgT_txt_list li::before {
    content: '';
    width: 5px;
    height: 5px;
    background: #666;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 16px;
}
.imgText_img {
    border-radius: 10px;
    position: relative;
}
.imgText_img.imgText_1 {
    background: url(../img/eco_01.jpg) no-repeat center / cover;
}
.imgText_img.imgText_2 {
    background: url(../img/eco_02.jpg) no-repeat center / cover;
}
.imgText_img a {
    position: absolute;
    right: 30px; bottom: 30px;
    padding: 6px 27px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    border-radius: 30px;
    background-color: rgba(135, 131, 128, 0.8);
    color: #fff;
}
.imgText_img a.yellow {
    background-color: rgba(214, 181, 58, 0.8)
}

/* Card */
.card_wrap {
    width: 100%;
}
.card_contents {
    display: flex;
    justify-content: space-between;
}
.card_cont {
    width: 32%;
}
.card_header {
    overflow: hidden;
}
.card_header img {
    object-fit:cover;     
    transform:scale(1.0);        
    transition: transform .7s; 
}
.card_header img:hover {
 
    transform:scale(1.08);        
    transition: transform .7s; 
}

.card_body {
    padding: 24px;
    text-align: left;
    background: #f5f5f5;
    position: relative;
}
.card_body .card_body_tit {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}
.card_body .card_body_desc {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    word-break: keep-all;
}
.card_body .card_body_btn {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #222;
}

/* Banner */
.banner_wrap {
    width: 100%;
    font-family: 'GmarketSans';
    background: url(../img/banner_01.jpg) no-repeat center / cover;
}

.banner_tit {
    font-size: 50px;
    font-weight: 300;
    color: #545454;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.banner_desc {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    color: #8d8d8d;
    text-transform: uppercase;
    margin-bottom: 150px;
}
.banner_sub {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #a8a8a8;
    text-decoration: underline;
    text-underline-position: under;
}

/* Footer */
.footer_wrap {
    width: 100%;
    font-family: 'GmarketSans';
}
.footer_menu {
    display: flex;
    justify-content: space-between
}
.footer_menu > div {
    width: 16%;
    text-align: left;
    text-transform: uppercase;
}
.footer_menu > div h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer_menu > div li {
    margin-bottom: 10px;
}
.footer_menu > div li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #777;
}
.footer_menu > div li a:hover {
    color: #999
}

.footer_right {
    font-family: 'NexonLv1Gothic';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #666;
    border-top: 1px solid #ccc;
    margin-top: 70px;
    padding-top: 40px;
    text-align: center;
}


/* Responsive */
/* PC ver. */
@media screen and (max-width: 1400px) {
    /* Header */
    .header_logo {
        font-size: 24px;
    }
    .header_menu ul li a {
        padding: 13px 20px;
    }
    .header_member a {
        font-size: 12px;
    }
}

@media screen and (max-width: 1250px) {
    .container {
        width: 1000px;
    }
    /* Header */
    .header_menu ul li a {
        padding: 13px 15px;
    }
    .header_member {
        display: flex;
        justify-content:space-between;
    }
    .header_member a {
        padding: 10px 25px;
    }
    .header_member a:last-child {margin: 0;}

    /* Slide */
    .slide_img {
        padding: 0 20px;
    }
    /* Card */
    .card_body {
        height: 230px;
    }
}
/* Laptop ver. */
@media screen and (max-width: 1020px) {
    .header_logo {
        width: 180px;
    }
}

/* Tablet ver. */
@media screen and (max-width: 768px) {
    
}
