/* reset  */
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
a {
    display: block; 
    color: #000; 
    text-decoration: none;
}
ul, li, ol {list-style: none;}

img {
    display: block;
    width: 100%;
}
em, address {font-style: normal;}

.flexaj {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ir_pm {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999em;
}